pgweb.dev.dcloud.rs {
    tls off

    proxy / pgweb:8081 {
        transparent
    }
}

pgadmin4.dev.dcloud.rs {
    tls off

    proxy / pgadmin4:80 {
        transparent
    }
}

phpmyadmin.dev.dcloud.rs {
	tls off
	
	proxy / phpmyadmin:80 {
		transparent
	}
}
